<!-- templates/registros/data_table.html -->
{% extends 'registros/base.html' %}
{% load django_vite %}

{% block title %}Tabla de Datos{% endblock %}

{% block content %}
    <div id="data-table"></div>
    {% vite_asset 'DataTable.js' %}
    <script>
        // Pasamos los datos de Django al componente React
        const djangoData = {{ data|safe }};
        const rootElement = document.getElementById('data-table');
        const root = ReactDOM.createRoot(rootElement);
        root.render(React.createElement(DataTable, { data: djangoData }));
    </script>
{% endblock %}